body{
    margin: 0 auto;
    max-width: 600px;
    background-color: black;
    font-family: "Inter", sans-serif;
    color: #ffff;
}
header{
  background-image: url(img/backgroun.png);
  width: 100%;
  height: 25vh;
  background-size: contain;
  align-items: center;
  justify-content: space-around;
}
input[type=search]{
    background-color:#2b2929;
    border: none;
    width: 260px;
    height: 38px;
    padding:9px 11px 9px 17px;
}
button{
    width: 90px;
    height: 38px;
    border-radius: none;
    background-color: #4B4B4B;
    border: none;
    padding:9px 11px 9px 17px;
    cursor: pointer;
}
div.search{
    margin-top: -20px;
}
#empty{
    text-align: center;
    margin-top: 50%;
    color: #4B4B4B;
}
/* font */
h2{
    font-size: 1em;
}
h1{
    font-weight: 800;
    font-size: 2.625em;
    margin-right: 10px;
}
p{
    font-weight: 700;
    font-size: 0.8em;
}
/* general */
#listed-movie,
.list,
.box-one,
.section-two,
div.search,
header,
.box-two{
    display: flex;
}
div.search,
.section-two{
    justify-content: center;
}
/* css for listed movie */
.poster-img{
    width: 6.1875em;
    height: 9.1875em;
    margin-right: 15px;
}
#listed-movie{
    flex-direction: column;
}
.rate,
.watchlist{
    width: 15px;
    height: 15px;
    margin-right: 0.9rem;
}
.watchlist{
    margin-right: 5px ;
}
hr{
    width:95%;
}
.list{
    align-items: center;
    padding: 1em;
}
.box-one,
.box-two{
    align-items: center;
}
.box-two{
    justify-content: space-between;
    font-size: 0.7em;
    font-weight: 400;
}
a{
    text-decoration: none;
}
article{
    font-size: 0.9em;
    font-weight: 400;
    line-height: 20px;
    color:#A5A5A5;
}

/* media query */
@media (min-width:601px){
    header{
        width: 100vw;
        height: 30vh;
        background-size: contain;
      }
      body{
        margin: 0;
        max-width: 100%;
      }
}
@media (min-width:1000px){
    body{
        max-width: 100%;
    }
}